#root {
  text-align: center;
}

.players-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(512px, 1fr));
  grid-gap: 10px;
  padding: 5px;
}

.players-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-item {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 512px;
  display: relative;
  z-index: 998;
}

.grid-item-2 {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 450px;
  display: relative;
  z-index: 998;
}


.grid-item:hover {
  .controls {
    display: block;
  }
}

.grid-item-2:hover {
  .controls {
    display: block;
  }
}


.controls {
  position: absolute;
  z-index: 999;
  display: none;
}

.controls button {
  background: rgba(255, 255, 255, 0.637);
  border: none;
  color: black;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #cccccc2f;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .players-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .grid-item {
    height: 200px;
  }
}


